@model List<Assessment.Data.Case>


@foreach (var c in Model)
{
    <div class="form-horizontal" style="margin-bottom:40px;">
        <div class="form-group row">
            <br/>
            <label class="col-md-1 control-label">Case id:</label>
            <div class="col-md-2">
                <span class="form-control" disabled>@c.CaseId</span>
            </div>
            </div>
        <div class="form-group row">
            <label class="col-md-1 control-label">Message:</label>
            <div class="col-md-10">
                <p>@c.Message</p>
            </div>
        </div>
        @if(!string.IsNullOrEmpty(ViewData["Action"].ToString()))
        {
        <div class="form-group row">
            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">

                    <a asp-controller="Case"
                            asp-action="@ViewData["Action"]"
                            asp-route-caseId="@c.CaseId"
                    class="btn btn-primary">
                    @ViewData["ButtonMessage"]
                </a>

            </div>
        </div>
        }
    </div>
}