@model List<Assessment.Data.Case>


@foreach (var c in Model)
{
<div class="form-horizontal" style="margin-bottom:40px;">
    <div class="form-group row">
        <br />
        <label class="col-md-1 control-label">Case id:</label>
        <div class="col-md-2">
            <span class="form-control" disabled>@c.CaseId</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-1 control-label">Created by:</label>
        <div class="col-md-6">
            <span class="form-control" disabled>@c.Worker.UserName</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-1 control-label">Message:</label>
        <div class="col-md-10">
            <p>@c.Message</p>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-1 control-label">Comments:</label>
        <div class="col-md-10">
            @foreach (var comment in c.Comments)
            {
                <p>@comment.CommentText</p>
            }
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewData["Action"].ToString()))
    {
        <div class="form-group row">
            <label class="col-md-1 control-label"></label>
            <div class="col-md-6">

                <a asp-controller="Case"
                   asp-action="@ViewData["Action"]"
                   asp-route-caseId="@c.CaseId"
                   class="btn btn-primary">
                    @ViewData["ButtonMessage"]
                </a>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@c.CaseId.ToString()addMessageModal">
                    Add message
                </button>

            </div>
        </div>
    }
</div>

    <form asp-controller="Case" asp-action="AddComment" method="post">
        <div class="modal fade" role="dialog" id="@c.CaseId.ToString()addMessageModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Add comment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Comment: </label>
                            <input id="Comment" name="Comment" type="text" class="control-label" />
                            <input id="CaseId" name="CaseId" class="form-control" value="@c.CaseId" type="hidden"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="saveComment" class="btn btn-primary">Save comment</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}